<mat-sidenav-container class="sidenav-container" autosize>

    <mat-sidenav #drawer class="sidenav" fixedInViewport 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" 
        [opened]="(isHandset$ | async) === false">

        <sidenav-content></sidenav-content>

    </mat-sidenav>

    <mat-sidenav-content>

        <main-header (sidenavClose)="drawer.toggle()"></main-header>

        <router-outlet></router-outlet><!-- Child Views are loaded here -->

    </mat-sidenav-content>

</mat-sidenav-container>