
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-material-rtb-primary: mat-palette($mat-indigo);
$angular-material-rtb-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-material-rtb-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-material-rtb-theme: mat-light-theme($angular-material-rtb-primary, $angular-material-rtb-accent, $angular-material-rtb-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-material-rtb-theme);

/* You can add global styles to this file, and also import other style files */

@import 'src/assets/theme/custom-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*:active, *:focus{ outline: none !important; }
img{ height: 100%; width: 100%;}

.main-bg{
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* =========================

    HELPERS & FIXES

=========================*/

mat-form-field{
    input { padding-bottom: 4px !important; }
}

/* Change Autocomplete styles in We*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: initial !important;
  -webkit-box-shadow: none !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Divider, Instagram style*/

.list-divider{
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.divider { display: flex;
    &:before, &:after { content: ""; flex: 1; }
}
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    &:before, &:after { height: 1px; margin: 0 1em; }
} 
.one-line { &:before, &:after { background: #cccccc; } }

/*FLEX-SPACER : Parent must have display:flex property */
.spacer{ flex: 1 1 auto; }

/* Toast Colorize */
.error-notification-overlay {
    color: mat-color($angular-material-rtb-warn, default-contrast);
    background-color: mat-color($angular-material-rtb-warn);
}

.info-notification-overlay {
    color: mat-color($angular-material-rtb-accent, default-contrast);
    background-color: mat-color($angular-material-rtb-accent);
}

.success-notification-overlay {
    color: mat-color($angular-material-rtb-primary, default-contrast);
    background-color: mat-color($angular-material-rtb-primary);
}

.warning-notification-overlay {
    color: mat-color($angular-material-rtb-warn, default-contrast);
    background-color: mat-color($angular-material-rtb-warn);
}

/*DROPDOWNS*/
.dropdown-menu{

    .dropdown-item{
        font-size: 14px;
        line-height: 25px;

        i,.material-icons{
            float: left;
            font-size: 20px;
            margin-right: 7px;
            margin-top: 2px;
        }
    }

    .dropdown-item.active, 
    .dropdown-item:active {
        background-color: mat-color($angular-material-rtb-warn);
    }
}